$desktop-above: 1201px;
$desktop: 1200px;

$tablet-above: 769px;
$tablet: 768px;

$mobile-above: 481px;
$mobile: 480px;

// Для задания размеров шрифта

@media (min-width: 1200px) {
  html {
    font-size: unquote($string: "calc(100vw / 1920)");
  }
}

@media (min-width: 2000px) {
  html {
    font-size: unquote("calc(100vw/2560)");
  }
}

@media (max-width: 768px) {
  html {
    font-size: unquote($string: "calc(100vw/360)");
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: unquote($string: "calc(100vw/1200)");
  }
}

// > 1200
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

// 768 < x < 1200
@mixin small-desktop {
  @media (min-width: $tablet-above) and (max-width: $desktop) {
    @content;
  }
}

// < 768
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

// > 768
@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

// < 480
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

// > 480
@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

@mixin hover($disable-tablet: false) {
  @if $disable-tablet {
    @media (hover: hover) and (min-width: $tablet-above) {
      &:hover {
        @content;
      }
    }
  } @else {
    @media (hover: hover) {
      &:hover {
        @content;
      }
    }

    @media (hover: none) {
      &:active {
        @content;
      }
    }
  }
}
