@mixin f-12 {
  font-size: 12rem;
}

@mixin f-14 {
  font-size: 14rem;
}

@mixin f-16 {
  font-size: 16rem;
}

@mixin f-18 {
  font-size: 18rem;
}

@mixin f-20 {
  font-size: 20rem;
}

@mixin f-22 {
  font-size: 22rem;
}

@mixin f-24 {
  font-size: 24rem;
}

@mixin f-40 {
  font-size: 40rem;
}
