.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;

  &__top-inner,
  &__bottom-inner {
    @include flex(center);
  }

  &__top {
    background: var(--black-alt);

    &-inner {
      padding-block: 5rem;
      justify-content: center;
      column-gap: 40rem;

      :is(a, p) {
        @include f-12;
        color: var(--gray-1);
      }
    }
  }
  &__bottom {
    background: var(--black);

    &-inner {
      padding-block: 10rem;

      :is(a) {
        font-weight: 300;
        color: var(--beige);
      }
    }
  }

  &__menu {
    &-list {
      @include flex(center, 10);
    }
    &-item {
      & a {
        display: inline-block;
        padding: 10rem;
      }
    }
  }

  &__logo {
    width: 160rem;
    height: 61rem;
    margin-left: 214rem;

    & img {
      @include img-size(true);
    }
  }

  &__contact {
    margin-left: auto;

    @include flex(center, 5);

    &::before {
      content: "";
      flex-shrink: 0;
      width: 24rem;
      height: 24rem;

      @include iconMask(
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M20.533 19.2403C20.533 19.2403 19.3743 20.3783 19.0904 20.7119C18.6278 21.2055 18.0828 21.4386 17.3684 21.4386C17.2997 21.4386 17.2264 21.4386 17.1577 21.434C15.7975 21.3472 14.5336 20.817 13.5856 20.3646C10.9934 19.1123 8.71734 17.3344 6.82592 15.0812C5.26424 13.2028 4.22007 11.4661 3.52854 9.6014C3.10263 8.46339 2.94692 7.57674 3.01561 6.74037C3.06141 6.20564 3.26749 5.76232 3.64761 5.38298L5.20929 3.82449C5.43369 3.61426 5.67184 3.5 5.9054 3.5C6.19392 3.5 6.42749 3.67367 6.57404 3.81992C6.57862 3.82449 6.5832 3.82906 6.58778 3.83364C6.86714 4.09414 7.13276 4.36379 7.41212 4.65173C7.55409 4.79798 7.70064 4.94423 7.84719 5.09505L9.09745 6.34275C9.5829 6.82721 9.5829 7.2751 9.09745 7.75956C8.96464 7.8921 8.83641 8.02464 8.7036 8.15261C8.3189 8.54565 8.6211 8.24407 8.22267 8.60056C8.21351 8.6097 8.20435 8.61427 8.19977 8.62341C7.80591 9.01646 7.87919 9.40037 7.96162 9.66088C7.9662 9.67459 7.97078 9.6883 7.97536 9.70201C8.30052 10.4881 8.75849 11.2285 9.45461 12.1106L9.45919 12.1151C10.7232 13.6691 12.0559 14.8802 13.526 15.808C13.7137 15.9268 13.9061 16.0228 14.0893 16.1142C14.2541 16.1965 14.4098 16.2742 14.5426 16.3564C14.561 16.3656 14.5793 16.3793 14.5976 16.3884C14.7533 16.4661 14.8999 16.5027 15.051 16.5027C15.4311 16.5027 15.6693 16.265 15.7471 16.1873L16.6448 15.2915C16.8005 15.1361 17.0478 14.9487 17.3363 14.9487C17.6203 14.9487 17.8538 15.1269 17.9958 15.2823C18.0004 15.2869 18.0004 15.2869 18.005 15.2915L20.5284 17.8097C21.0001 18.2759 20.533 19.2403 20.533 19.2403Z' stroke='%23F8EFE8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
      );
    }
  }

  &__menu,
  &__contact {
    font-weight: 300;
  }

  @import "header-tablet";
}
